<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Offer Page</title>
		<link rel="stylesheet" type="text/css" media="all" href="style.css" />
</head>
	<body>
		<h1><span th:text="${username}">Doe</span> <span th:text="${auction.productName}">Product 1</span> Offer Page</h1>
		<div class="navbar">
			<ul>
				<li><a th:href="@{/Buy}">Buy Page</a></li>
				<li><a th:href="@{/Sell}">Sell Page</a></li>
			</ul>
		</div>
		<table border="1">
				<thead>
					<tr>
						<th>Product Name</th>
						<th>Description</th>
						<th>Remaining Time</th>
						<th>Minimum Raise</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<span th:text="${auction.productName}">Product 1</span>
						</td>
						<td>
							<span th:text="${auction.description}">Product 1 description</span>
						</td>
						<td>
							Days: <span th:text="${auction.timeDiff / 24}">Product 1 Remaining time</span> Hours: <span th:text="${auction.timeDiff % 24}">Product 1 Remaining time</span>
						</td>
						<td>
							<span th:text="${auction.minIncrease}">Product 1 min increase</span> &euro;
						</td>
					</tr>
				</tbody>
			</table>
			<h3 class="bidsTitle">Bids</h3>
			<div th:if="${#lists.isEmpty(bids)}">
				<p>There are no offers yet! Make the first here:</p>
			</div>
			<table border="1" th:if="${not #lists.isEmpty(bids)}">
				<thead>
					<tr>
						<th>Name</th>
						<th>Price</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody th:remove="all-but-first">
					<tr th:each="bid : ${bids}">
						<td>
							<span th:text="${bid.bidder}">User 1</span>
						</td>
						<td>
							<span th:text="${bid.offer}">100</span>&euro;
						</td>
						<td>
							<span th:text="${bid.date}">24/12/2021 12:04</span>
						</td>
					</tr>
				</tbody>
			</table>
			<form th:action="@{/MakeBid}" method="POST">
				<input type="hidden" name="auctionID" th:value="${auction.auctionId}">
				<label for="amount">Insert Offer: </label>
				<input type="number" id="amount" name="amount" th:value="${maxOffer + auction.minIncrease}" th:min="${maxOffer + auction.minIncrease}" step="0.01">
				<button type="submit" name="action" value="Offer">Make Offer</button>
			</form>
	</body>
</html>