<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<context-param>
		<param-name>dbUrl</param-name>
		<param-value>jdbc:mysql://localhost:3306/onlineauctions?serverTimezone=UTC</param-value>
	</context-param>
	<context-param>
		<param-name>dbUser</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>dbPassword</param-name>
		<param-value>U!h9xNtZ39SCfEK</param-value>
	</context-param>
	<context-param>
		<param-name>dbDriver</param-name>
		<param-value>com.mysql.cj.jdbc.Driver</param-value>
	</context-param>
	<filter> 
      <filter-name>LoginCheck</filter-name>
      <filter-class>it.polimi.tiw.auctions.filters.LoginCheck</filter-class> 
 	</filter> 
 	<filter-mapping> 
	    <filter-name>LoginCheck</filter-name>
	    <url-pattern>/Home</url-pattern> 
	    <url-pattern>/Buy</url-pattern> 
	    <url-pattern>/Sell</url-pattern> 
	    <url-pattern>/CreateAuction</url-pattern> 
	    <url-pattern>/SearchAuction</url-pattern>
	    <url-pattern>/Offer</url-pattern>
	    <url-pattern>/MakeBid</url-pattern>
	    <url-pattern>/AuctionDetails</url-pattern>
	    <url-pattern>/CloseAuction</url-pattern>
 	</filter-mapping> 
	<welcome-file-list>
		<welcome-file>login.html</welcome-file>
	</welcome-file-list>
</web-app>